body{
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
    
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.squares-container{
    height: 300px;
    width: 400px;
    display: flex;
    border: 2px solid brown;
}